<!-- <page-header /> -->

<div nz-row [nzGutter]="8">
  <div nz-col class="gutter-row" [nzSpan]="18">
    <div id="panorama" class="inner-box left-preview-tool"></div>
  </div>

  <div nz-col class="gutter-row" [nzSpan]="6">
    <div class="inner-box right-design-tool">
      <nz-tabset nzType="card">
        <nz-tab *ngFor="let tab of tabs" [nzTitle]="titleTemplate">
          <b>Scenes:</b>
          <div *ngFor="let item of scenes | keyvalue">
            {{ item.key }}
          </div>
          <br />
          <b>Hotpots:</b>
          <div *ngFor="let item of hotSpots">
            {{ item.text }}
          </div>

          <ng-template #titleTemplate>
            <span nz-icon [nzType]="tab.icon"></span>
            {{ tab.name }}
          </ng-template>
        </nz-tab>
      </nz-tabset>

      <div class="command">
        <button nz-button nzType="primary">Lưu</button>
      </div>
    </div>
  </div>
</div>
